@model IEnumerable<Models.ReaderModel>

@{
    ViewBag.Title = "readers List";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("create new","Create")</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
    </tr>
  @foreach (var item in Model)
  {
  
      <tr>
          <td>
              @Html.DisplayFor(modelItem => item.Id)
          </td>
          <td>
             @Html.Raw(item.Name)
             @*@Html.DisplayFor(modelItem => item.Name)*@
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.IP)
          </td>
      </tr>
  }
</table>

<script>
    alert(11)
</script>
