<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="divMainLeft" class="main-left">
        this is the left

        <a target="_blank" href="http://www.baidu.com">blank</a>
        <a target="_self" href="http://www.baidu.com">self</a>
        <a target="_top" href="http://www.baidu.com">top</a>

    </div>
    <div class="container body-content" >
        <div>
            this is it!
            <audio controls="controls" src="~/Assets/audio/children-gun-girl-uzi-shooting.mp3" autoplay="autoplay" volume="0.1"></audio>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>